tr
	{mso-height-source:auto;
	mso-ruby-visibility:none;}
col
	{mso-width-source:auto;
	mso-ruby-visibility:none;}
br
	{mso-data-placement:same-cell;}
ruby
	{ruby-align:left;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:풻稻
	mso-generic-font-family:auto;
	mso-font-charset:134;
	border:none;
	mso-protection:locked visible;
	mso-style-name:씪좭;
	mso-style-id:0;}
.font7
	{color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;}
.font9
	{color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"MS Gothic", monospace;
	mso-font-charset:0;}
td
	{mso-style-parent:style0;
	padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:풻稻
	mso-generic-font-family:auto;
	mso-font-charset:134;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl65
	{mso-style-parent:style0;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;}
.xl66
	{mso-style-parent:style0;
	text-align:center;}
.xl67
	{mso-style-parent:style0;
	text-align:center;
	border:.5pt solid windowtext;}
.xl68
	{mso-style-parent:style0;
	font-family:찗펀, monospace;
	mso-font-charset:134;
	vertical-align:top;}
.xl69
	{mso-style-parent:style0;
	font-weight:700;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:left;
	vertical-align:top;
	border:.5pt solid windowtext;
	background:#FDE9D9;
	mso-pattern:black none;}
.xl70
	{mso-style-parent:style0;
	text-align:left;
	vertical-align:top;
	border:.5pt solid windowtext;}
.xl71
	{mso-style-parent:style0;
	font-weight:700;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border:.5pt solid windowtext;
	background:#FDE9D9;
	mso-pattern:black none;}
.xl72
	{mso-style-parent:style0;
	font-family:찗펀, monospace;
	mso-font-charset:134;
	text-align:center;}
.xl73
	{mso-style-parent:style0;
	font-weight:700;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	background:#FDE9D9;
	mso-pattern:black none;}
.xl74
	{mso-style-parent:style0;
	font-weight:700;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:left;
	vertical-align:top;
	background:#FDE9D9;
	mso-pattern:black none;}
.xl75
	{mso-style-parent:style0;
	text-align:left;
	vertical-align:top;}
.xl76
	{mso-style-parent:style0;
	font-weight:700;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	vertical-align:top;
	border:.5pt solid windowtext;
	background:#FDE9D9;
	mso-pattern:black none;}
.xl77
	{mso-style-parent:style0;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border:.5pt solid windowtext;}
.xl78
	{mso-style-parent:style0;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:left;
	border:.5pt solid windowtext;}
.xl79
	{mso-style-parent:style0;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	vertical-align:top;
	border:.5pt solid windowtext;}
.xl80
	{mso-style-parent:style0;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:left;
	vertical-align:top;
	border:.5pt solid windowtext;}
.xl81
	{mso-style-parent:style0;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;}
.xl82
	{mso-style-parent:style0;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;}
.xl83
	{mso-style-parent:style0;
	font-weight:700;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:#FDE9D9;
	mso-pattern:black none;}
.xl84
	{mso-style-parent:style0;
	font-weight:700;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:#FDE9D9;
	mso-pattern:black none;}
.xl85
	{mso-style-parent:style0;
	font-weight:700;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	background:white;
	mso-pattern:black none;}
.xl86
	{mso-style-parent:style0;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl87
	{mso-style-parent:style0;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;}
.xl88
	{mso-style-parent:style0;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:left;
	vertical-align:top;
	border:.5pt solid windowtext;
	white-space:normal;}
.xl89
	{mso-style-parent:style0;
	font-weight:700;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:#FDE9D9;
	mso-pattern:black none;}
.xl90
	{mso-style-parent:style0;
	font-weight:700;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#FDE9D9;
	mso-pattern:black none;}
.xl91
	{mso-style-parent:style0;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border:.5pt solid windowtext;
	white-space:normal;}
.xl92
	{mso-style-parent:style0;
	font-weight:700;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#FDE9D9;
	mso-pattern:black none;}
.xl93
	{mso-style-parent:style0;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:left;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;}
.xl94
	{mso-style-parent:style0;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:left;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl95
	{mso-style-parent:style0;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:left;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
